@model Automotora3.Models.Correo

@{
    ViewData["Title"] = "Create";
}

<h4>Enviar Correo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="from" class="control-label"></label>
                <input asp-for="from" class="form-control" />
                <span asp-validation-for="from" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="to" class="control-label"></label>
                <input asp-for="to" class="form-control" />
                <span asp-validation-for="to" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="body" class="control-label"></label>
                <input asp-for="body" class="form-control" />
                <span asp-validation-for="body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
